<ion-view view-title="Result" class="bar-positive">

  <ion-content >
<br><br><br><br><br><br><br>


    <button class="button button-dark" ng-click="clickUUID()" >
        button-darkl  {{uuiddee}}
    </button>

    <button ng-click="takeddd()">camera</button>
    <button ng-click="scanthebar()">scan</button>
    <button ng-click="plusplus()">plus</button>
    <button ng-click="permissions()">permissions</button>
    <button ng-click="intervalhaoba()">interval</button>
    <p>result:{{success}}</p>

    <button ui-sref="canvas" class="button-assertive" >tocanvas</button>
    <button ui-sref="demo" class="button-assertive" >todemo</button>


    <button class="button" >addBooks</button>
    <div>
      <canvas id="circle" width="300" height="150" style="border:1px solid #d3d3d3;" ></canvas>
    </div>

    <p class="button" ng-click="httpba()">http</p>
    <p>reuslt:{{httpresult}}</p>
    <p>reuslt:{{httpresult2}}</p>
  </ion-content>
</ion-view>
