<ion-view view-title="dee">
  <ion-content >
    <!--<ion-list >
      <ion-item collection-repeat="item in items">
        {{item}}
        <img item-width="33%"
             item-height="20px" src="img/ionic.png" >
      </ion-item>
    </ion-list>-->

    <ion-scroll direction="x" class="available-scroller" scrollbar-x="true">
      <!--<div class="photo"
           item-height="200" item-width="40" >
        <img src="img/ionic.png">
      </div>-->

      <!--<div class="photo" collection-repeat="photo in main.photos"
           item-height="360" item-width="180">
        <img src="http://placekitten.com/360/180">
      </div>-->

      <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
        <div style="width: 5000px; height: 5000px; background: url('http://placekitten.com/360/180') repeat"></div>
      </ion-scroll>
    </ion-scroll>
  </ion-content>
</ion-view>
